{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Yume Platform{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">


</head>
<body class="container d-flex flex-column min-vh-100 mx-auto p-4 {% if request.COOKIES.mode == 'dark' %}dark{% endif %}">
    <header>
        <nav class="navbar navbar-expand-lg d-flex flex-row justify-content-end rounded-pill p-3 mb-4">
            <div class="container-fluid">
                <a class="navbar-brand ms-3" href="{% url 'main:home_view' %}"><h3>Yume</h3></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'main:home_view' %}">Cities</a>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse d-flex flex-row justify-content-end align-items-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item d-flex flex-row gap-3 align-items-center justify-content-end me-3 fs-5">
                            <a href="" class="text-decoration-none text-dark"><i class="fi fi-rr-earth-americas "></i></a>
                            <a href="{% url 'main:mode_view' 'toggle' %}?next={{request.path}}" class="theme-toggle-btn fs-5 text-decoration-none text-dark">
                                {% if request.COOKIES.mode == "dark" %}
                                    <i class="fi fi-rr-moon"></i>
                                {% else %}
                                    <i class="fi fi-rr-sun"></i>
                                {% endif %}
                            </a>
                            <a href="" class="text-decoration-none text-dark"><i class="fi fi-rr-user fs-5"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="flex-grow-1">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="py-4 text-center">
        <div class="container">
            <ul class="nav justify-content-end mb-3 gap-3">
                <li><a href="{% url 'main:about_view' %}" class="text-decoration-none text-dark">About</a></li>
                <li><a href="{% url 'main:contact_view' %}" class="text-decoration-none text-dark">Contact</a></li>
                <li><a href="{% url 'main:services_view' %}" class="text-decoration-none text-dark">Services</a></li>
            </ul>
            <p class="d-flex flex-column justify-content-center align-items-center translate-middle-x text-muted mb-0" style="font-size: 200px;">Yume</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">
    </script>
</body>
</html>