{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Yume Platform{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">


</head>
<body class="d-flex flex-column min-vh-100 mx-auto {% if request.COOKIES.mode == 'dark' %}dark{% endif %}">
    <header class="mt-4 ms-5 me-5">
        <nav class="navbar navbar-expand-lg d-flex flex-row justify-content-end rounded-pill p-4 mb-4">
            <div class="container-fluid">
                <a class="navbar-brand ms-3" href="{% url 'main:home_view' %}"><h3>Yume</h3></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'main:home_view' %}">Cities</a>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse d-flex flex-row justify-content-end align-items-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item d-flex flex-row gap-3 align-items-center justify-content-end me-3 fs-5">
                            <a href="" class="text-decoration-none text-dark"><i class="bi bi-translate"></i></a>
                            <a href="{% url 'main:mode_view' 'toggle' %}?next={{request.path}}" class="theme-toggle-btn fs-5 text-decoration-none text-dark">
                                {% if request.COOKIES.mode == "dark" %}
                                    <i class="bi bi-brightness-high-fill"></i>
                                {% else %}
                                    <i class="bi bi-moon-stars-fill"></i>
                                {% endif %}
                            </a>
                            <a href="" class="text-decoration-none text-dark"><i class="bi bi-person-circle fs-5"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container flex-grow-1 ps-5">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="container text-center border-top">
        <div class="position-relative overflow-hidden" style="padding-bottom: 300px;">
            <ul class="nav justify-content-end mt-3 gap-3">
                <li><a href="{% url 'main:about_view' %}" class="text-decoration-none text-dark">About</a></li>
                <li><a href="{% url 'main:contact_view' %}" class="text-decoration-none text-dark">Contact</a></li>
                <li><a href="{% url 'main:services_view' %}" class="text-decoration-none text-dark">Services</a></li>
            </ul>

            <p class="position-absolute start-50 translate-middle-x text-dark m-0"
            style="
                    bottom: -110px;
                    font-size: 300px;
                    font-weight: 700;
                    white-space: nowrap;
                    opacity: 0.08;
                    pointer-events: none;
            ">
                Yume
            </p>

        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">
    </script>
</body>
</html>